body {
	padding: 50px 0;
	text-align: center;
}

input {
	margin-bottom: 30px;
}

.cylinder {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100px;
	height: 300px;
	border-radius: 50px/25px;
	background-color: rgba(160, 160, 160, 0.5);
}

.cylinder:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: rgba(160, 160, 160, 0.2);
	content: '';
}

.cylinder:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: rgba(160, 160, 160, 0.4);
	content: '';
}

.water {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 0;
	padding-top: 50px;
	border-radius: 50px/25px;
	background-color: rgba(0, 160, 160, 0.5);
	transition: 0.3s linear;
}

.water:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: rgba(0, 160, 160, 0.2);
	content: '';
}

.water:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: rgba(0, 160, 160, 0.4);
	content: '';
}

.water--0:checked ~ .cylinder .water {
	bottom: -50px;
}

.water {
	height: calc(250px * (1 - var(--water-level)));
}