@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:#36C7A4;
    background:-o-linear-gradient(to left #17606A,#E6E6E6) ;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: right;
    height: 800px;
    width: 80 ;

}
.container {
    background-color: #17606A;
    border-radius: 90% 75%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, a.35);
    width:50% ;
    position: absolute;   
    border-radius: 51% 0 0 55%;
    bottom: 0;
    top: 0;
}

.container p{
    font-size:14px;
    line-height: 10px;
    letter-spacing: 0.7px;
    margin: 20px 0;
    color:white;
}
.container span{
    font-size: 15px;
}
.container a{
    color:white;
    font-size: 25px;
    text-decoration: none;
    margin: 15px 0 0px;
}
.container h1{
    color:#36C7A4;

}
.container button{
    background-image: linear-gradient(to right, #24B3D3, #36C7A4);
    color: #fff;
    font-size: 12px;
    padding: 20px 180px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.container form{
    display: flex ;
    align-items: center;
    flex-direction: column;
    padding: 0% 10%;
  
}
.container input {
    background-color: #E6E6E6;
    border: 20%;
    margin: 8px 0;
    padding: 18px 10px;
    font-size: 17px;
    border-radius: 50px;
    width: 57%;
    outline: #17606A;
    color: #17606A;
    
}
